body {
    margin: 0;
    padding: 0;
    background-color: gray;
    margin-bottom: 50px;
}

html {
    scroll-behavior: smooth;
}

#header1 {
    position: fixed;
    background-color: rgb(17, 17, 17);
    height: 50px;
    width: 100%;
    z-index: 5;
}



button {
    margin-top: 30px;
    left: 46%;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    font-size: 1.5em;
}

h1 {
    float: left;
    position: absolute;
    margin-top: auto;
    color: whitesmoke;
    padding: 7px;
    left: 60px;
    width: auto;
}

img {
    float: left;
    position: relative;
    width: 30px;
    left: 20px;
    padding: 10px;
}

#divlateral {
    top: 50px;
    position: fixed;
    background-color: rgb(49, 49, 49);
    width: 200px;
    height: 100%;
}

.indice {
    margin-top: 20px;
    margin-left: 5px;
    color: whitesmoke;
}

#divhistoria {
    display: block;
    border: solid;
    padding: 15px;
    position: relative;
    left: 330px;
    height: auto;
    width: 150vh;
    top: 70px;
}

#hist1,
#hist2,
#hist3,
#hist4,
#hist5,
#hist1 {
    position: relative;
}

section {
    scroll-margin-top: 50px;
    padding: 20px;
}

.titulo {
    font-size: 2em;
    position: absolute;
    float: left;
    color: orange;
    margin-top: 0px;
    padding: 0;
}

.paragrafos {
    font-size: 1.5em;
    position: relative;
    top: 40px;
    margin-left: 4px;
}

ul {
    position: relative;
    font-size: 1.5em;
    top: 20px;
}

li {
    position: relative;
    margin-top: 10px;

}
