body {
    position: relative;
    margin: 0;
    background-color: gray;
}

#header1 {
    position: fixed;
    background-color: rgb(17, 17, 17);
    height: 50px;
    width: 100%;
    z-index: 5;
    top: 0;
}

img {
    float: left;
    position: relative;
    width: 30px;
    left: 20px;
    padding: 10px;
}

#nomedosite3 {
    float: left;
    position: absolute;
    margin-top: auto;
    color: whitesmoke;
    padding: 7px;
    left: 60px;
    width: auto;
}

#linhafiltrada {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
}

#loadCsvButton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

#csvData {
    top: 80px;
    left: 300px;
    position: relative;
}

.peq {
    position: relative;
    color: black;
    top: 80px;
    margin-left: 20px;
    padding-top: 20px;
}

input{
    flex: left;
}
